@import url("./reset.css");

:root {
  color-scheme: light dark;
}

body {
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  color: var(--text-color);
  background-color: var(--background-color);

  max-width: 36rem;
  margin: 1em auto;
}

@keyframes blink {
  from,
  to {
    background-color: transparent;
    color: var(--text-color);
  }
  50% {
    background-color: var(--text-color);
    color: var(--background-color);
  }
}

.header-name {
  display: inline-flex;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;

  > .cursor {
    animation: 1.5s blink step-end infinite;
    clip-path: inset(5px 1px);
  }
}
