@import url("./reset.css");

:root {
  color-scheme: light dark;
}

body {
  --duration: 0.5s;
  --timing: ease;
  transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);

  color: var(--text-color);
  background-color: var(--background-color);
}

@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.header-name {
  position: relative;
  width: 80%;
  margin: 1em auto;
  font-weight: 400;
  font-family: "IBM Plex Mono", monospace;
}

.header-name::after {
  content: "";
  width: 1ch;
  left: 7ch;

  position: absolute;
  top: 7px;
  bottom: 5px;

  background-color: #000;
  filter: invert(1);
  mix-blend-mode: difference;

  animation: 2s blink step-end infinite;
}
