/*
 * Customizations on top of Lanyon (https://github.com/poole/lanyon)
 *
 * Mostly cribbed from http://markdotto.com/
 */
a {
  font-weight: inherit;
  line-height: inherit;
  color: #222;
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
a:hover {
  color: #000;
  text-decoration: none;
}

h1 a {
  border-bottom: 0;
}

.body a,
.footer a {
  border-bottom: 1px solid #ddd;
}

.body a:hover,
.footer a:hover {
  border-bottom-color: #000;
}

.posts ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.posts .post-date {
  margin-bottom: 0;
  color: #ccc;
}

/* Index */
.posts .year-heading {
  width: 100%;
  text-align: center;
}
.posts .post-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.posts .post-title, .posts .post-date {
  width: 50%;
  margin: 0 5px;
}
.posts .post-title a {
  float: right;
}